* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #297aaf;
  --secondaryColor: #55b1ec;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Open Sans";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

ul li {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}
